<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/41e3a02c-3d0c-4cb9-be47-d7919f428693/resourcegroups/RocketElevatorsCustomerPortal20210409232209ResourceGroup/providers/Microsoft.Web/sites/CustomerPortalDuquette1</ResourceId>
    <ResourceGroup>RocketElevatorsCustomerPortal20210409232209ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://customerportalduquette1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>customerportalduquette1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CustomerPortalDuquette1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CustomerPortalDuquette1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=students-projects.cq6zrczewpu2.us-east-1.rds.amazonaws.com;Initial Catalog=Dana_Duquette;User ID=codeboxx;Password=Codeboxx1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Rocket_Elevators_Customer_Portal.Models.ApplicationDbContext, Rocket_Elevators_Customer_Portal" MigrationConfiguration="Rocket_Elevators_Customer_Portal.Migrations.Configuration, Rocket_Elevators_Customer_Portal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=students-projects.cq6zrczewpu2.us-east-1.rds.amazonaws.com;Initial Catalog=Dana_Duquette;User ID=codeboxx;Password=Codeboxx1!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>